<div>
  <div *ngIf="account">

    <p>{{account.name}} #{{account.accountBusinessId}}</p>
    <p>Balance: {{account.balanceInHundredScale / 100}} {{account.currency}}</p>

  </div>
  <div *ngIf="transfers">
    <div *ngFor="let transfer of transfers">
      <div>
        From: {{transfer.from}}
      </div>
      <div>
        To: {{transfer.to}}
      </div>
      <div>
        Message: {{transfer.message}}
      </div>
      <div>
        Amount: {{transfer.amountInHundredScale / 100}}
      </div>
    </div>
  </div>

</div>
