<h3>Create account</h3>

<div>
  <form class="container" [formGroup]="createAccountGroup" (ngSubmit)="onSubmit()">
    <label for="name">
      Account name:
    </label>
    <input id="name" type="text" formControlName="accountName">

    <label for="currency">
      Currency:
    </label>
    <select id="currency" name="currency" formControlName="currency">
      <option value="EUR" [selected]="true">EUR</option>
    </select>

    <button class="button" type="submit">Create account</button>
  </form>
</div>
