<div class="container">
    <img class="logo" src="assets/bank-logo.png" alt="bank-logo">
</div>

<div class="login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <label for="login">Login:</label> <br>
        <input id="login" type="text" formControlName="username">
        <br>

        <label for="password">Password:</label><br>
        <input id="password" type="password" formControlName="password">
        <br>

        <button type="submit">Login</button>
    </form>

    <div>
        <p>Or register if you don't have account yet!</p>
        <button (click)="onRegistrationClick()">Register</button>
    </div>
</div>

<p *ngIf="isLoginFailed">Username or password incorrect</p>

<footer>
    Footer
</footer>