<div class="sidenav">
  <div class="logo">
    <img src="assets/bank-logo.png" alt="bank-logo">
  </div>

  <nav></nav>
</div>

<div class="container">
  <img class="logo-small" src="assets/bank-logo.png" alt="bank-logo">
</div>

<main>
  <div class="login">
    <div *ngIf="isWaitingForServer">
      Waiting for Heroku server startup (it may take a while)
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <label for="login">Login:</label> <br>
      <input id="login" type="text" formControlName="username">
      <br>

      <label for="password">Password:</label><br>
      <input id="password" type="password" formControlName="password">
      <br>

      <button class="button" type="submit">Login</button>
    </form>

    <div>
      <p>Register if you don't have account yet</p>
      <button class="button" (click)="onRegistrationClick()">Register</button>
    </div>
  </div>

  <p *ngIf="isLoginFailed">Username or password incorrect</p>

  <footer>
    Online banking system
    © 2020
  </footer>
</main>
