<div class="top">
  <span (click)="openPanel()">&#9776; Open menu</span>
</div>

<div id="sideNav" class="sidenav">
  <div class="closebtn" (click)="closePanel()">&times; Close</div>

  <div class="logo">
    <img src="assets/bank-logo.png" alt="bank-logo">
  </div>
  <nav >
    <div>
      <div *ngFor="let account of accounts">
          <h3>{{account.balance}}</h3>
      </div>
      <p>Accounts:</p>
      <a [routerLink]="['account', '1']">First account #1</a>
      <a [routerLink]="['account', '2']">Second account #2</a>
      <p>
        Operations:
      </p>
      <a>Transfer</a>
      <div>
        <a [routerLink]="['logout']">Logout</a>
      </div>
    </div>
  </nav>
</div>

<main>
  <div class="personal">
    Name Surname #x
  </div>

  <div class="options">
    Option 1, Option 2
  </div>

  <div class="details">
    <router-outlet></router-outlet>
  </div>
</main>

