<div class="top">
  <span (click)="openPanel()">&#9776; Open menu</span>
</div>

<div id="sideNav" class="sidenav">
  <div class="closebtn" (click)="closePanel()">&times; Close</div>

  <div class="logo">
    <img src="assets/bank-logo.png" alt="bank-logo">
  </div>
  <nav>
    <div>
      <p>Accounts:</p>
      <div *ngIf="userData">
        <a *ngFor="let account of userData.accounts; index as i" [routerLink]="['account', i]"
          (click)="closePanel()">{{account.name}}
          #{{i + 1}}</a>
      </div>
      <p>
        Operations:
      </p>

      <a [routerLink]="['transfer']" (click)="closePanel()">Transfer</a>

      <div>
        <a [routerLink]="['logout']">Logout</a>
      </div>
    </div>
  </nav>
</div>

<main>
  <div *ngIf="userData" class="personal">
    {{userData.username}} #{{userData.id}}
  </div>

  <div class="details">
    <router-outlet></router-outlet>
  </div>
  <footer>
    Online banking system
    © 2020
  </footer>
</main>
